Solution no 1

In [4]:
def zero_div():
    
    try:
        
        a=5/0
    except:
        print('This will give zero division error')

In [5]:
zero_div()

This will give zero division error

Solution no 2

In [16]:
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database3.db")
db.execute("drop table if exists grades1")
db.execute("create table grades1(subjects text, Verbs text, Objects text)")
db.execute("insert into grades1(subjects, Verbs, Objects) values('Americans', 'play','Baseball')")
db.execute("insert into grades1(subjects, Verbs, Objects) values('Americans', 'play','Cricket' )")
db.execute("insert into grades1(subjects, Verbs, Objects) values('Americans', 'watch','Baseball')")
db.execute("insert into grades1(subjects, Verbs, Objects) values('Americans', 'watch','Cricket' )")
db.execute("insert into grades1(subjects, Verbs, Objects) values('Indians', 'play','Baseball')")
db.execute("insert into grades1(subjects, Verbs, Objects) values('Indians', 'play','Cricket' )")
db.execute("insert into grades1(subjects, Verbs, Objects) values('Indians', 'watch','Baseball')")
db.execute("insert into grades1(subjects, Verbs, Objects) values('Indians', 'watch','Cricket' )")

In [17]:
db.commit()

In [18]:
results = db.execute("select * from grades1")
for row in results:
    print(row)
print("-" * 60 )

('Americans', 'play', 'Baseball')
('Americans', 'play', 'Cricket')
('Americans', 'watch', 'Baseball')
('Americans', 'watch', 'Cricket')
('Indians', 'play', 'Baseball')
('Indians', 'play', 'Cricket')
('Indians', 'watch', 'Baseball')
('Indians', 'watch', 'Cricket')
------------------------------------------------------------